<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  
</head>
<body class="">

<h1>About</h1>
<p>This is me</p>

<footer>
  <%- include('../partials/footer'); %>
</footer>
<script src="index.js"></script>
</body>
</html>